.itemDetail{
    margin-top: 5%;
    
}

.count{
    width: 10%;
    height: 50px;
    position: absolute;
    top: 70%;
    right: 44%;
    padding: 20px;
}

.imageItem{
    display: flex;
    justify-content: center;
    object-fit: cover;
    padding-left: 50px;
}

.detalleProducto h2, p{
    display: flex;
    justify-content: center;
}

.linkItemDetail{
    text-decoration: none;
    color: black;
}

.botonItemDetail{
    width: 60%;
    margin-left: 70px;
    background-color: #F8D4D4;
}

.botonesCarrito{
    height: 60%;
}

.countContainer{
    padding-bottom: 30%;
}