.itemDetail{
    width: 30%;
    
}

.count{
    width: 10%;
    height: 50px;
    position: absolute;
    top: 78%;
    right: 44%;
    padding: 20px;
}

.imageItem{
    display: flex;
    justify-content: center;
    object-fit: contain;
    width: 100%;
}

.detalleProducto p{
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight:bolder;
}

.detalleProducto h2{
    font-size: 20px;
    text-align: center;
}

.detalleProducto{
    height: 90px;
}

.linkItemDetail{
    text-decoration: none;
    color: white;
}

.linkItemDetail:hover{
    color: white;
}

.botonItemDetail{
    width: 60%;
    margin-left: 90px;
}

.botonesCarrito{
    height: 60%;
}

.boton1{
    margin: 3px;
}

.imagenDetail{
    margin: 20px;
    margin-left: 30px;
    overflow: hidden;
    object-fit:cover;
    size-adjust: 50px 50px;
}