.itemDetail{
    margin-bottom: 10%;
    width: 15%;
    
}

.count{
    width: 10%;
    height: 50px;
    position: absolute;
    top: 78%;
    right: 44%;
    padding: 20px;
}

.imageItem{
    display: flex;
    justify-content: center;
    object-fit: cover;
    width: 100%;

}

.detalleProducto h2, p{
    width: 100%;
    display: flex;
    justify-content: center;
}

.detalleProducto p{
    font-weight:bolder;
}

.linkItemDetail{
    text-decoration: none;
    color: black;
}

.botonItemDetail{
    width: 60%;
    margin-left: 50px;
    background-color: #F8D4D4;
}

.botonesCarrito{
    height: 60%;
}

.countContainer{
    padding-bottom: 25%;
}

.boton1{
    margin: 3px;
}
