.navbar{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: crimson;
    color: white;
    display: flex;
    justify-content: center;
}

.navbar a{
    padding: 20px;
    text-decoration: none;
    color: black;
    display: flex;
    right: 50%;
    margin: 10px;
}

.logo h1{
    position: absolute;
    margin-top: 10px;
    padding-left: 20px;
}

.logoCarrito{
    position: absolute;
    left: 90%;
    top: 25px;
}

.navbar a:hover{
    color: white;
}

