.count{
    background-color: antiquewhite;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    width: 20%;
    padding: 20px;
    position: absolute;
    right: 35%;
    top: 30%;
    overflow: hidden;
    height: 80px;
}

.count div{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.boton1{
    width: 30px;
    padding: 5px;
    margin: 5px 0px;
}

.boton2{
    width: 130px;
    padding: 5px;
    margin: 5px 0px;
    margin-right: 160px;
}

.boton3{
    width: 130px;
    padding: 5px;
    margin-left: 120px;
    position: absolute;
    bottom: 11px;
}

.countinput{
    text-align: center;
    background-color: yellow;
    width: 50px;
}