.count div{
    display: flex;
    justify-content:center;
    align-items: center;
}

.countinput{
    text-align: center;
    border-color: black;
    width: 50%;
    height: 70%;
    position: absolute;
    right: 35%;
}

.botonAgregar{
    width: 100%;
    position: absolute;
    top: 100%;
    right: 10%;
}

.botonSumar{
    position: absolute;
    width: 30%;
    left: 80%;

}

.botonRestar{
    position: absolute;
    width: 30%;
    right: 100%;
}