
.count div{
    height: 60%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: relative;
    padding-bottom: 40px;
}

.boton1{
    width: 30px;
    padding: 0px;
    margin: 0px 0px;
    background-color: #F8D4D4;
}

.boton2{
    position: absolute;
    bottom: 15%;
    background-color: #F8D4D4;
}

.boton3{
    width: 130px;
    padding: 5px;
    margin: 5px 0px;
    position: absolute;
    right: 60px;
    bottom: 9px;
    background-color: #F8D4D4;
}

.countinput{
    text-align: center;
    border-color: black;
    width: 60px;
}
