.cartItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(70,97,73,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(70,97,73,1);
    box-shadow: 10px 10px 5px 0px rgba(70,97,73,1);
    width: 80%;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.cartItem img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: contain;
}

.cartImage{
    height: 100px;
}

.xQuantity{
    height: 0px;
    position: relative;
    bottom: 21%;
    right: 41%;
}

.globitoClose{
    height: 0px;
    position: relative;
    bottom: 21%;
    left: 41%;
}

.total{
    position: absolute;
    right: 43%;
    bottom: 5%;
}